.promotion__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.promotion__filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.promotion__search {
    width: 250px;
}

@media only screen and (max-width: 800px) {
    .promotion__head {
        flex-direction: column;
    }

    .promotion__filter {
        display: flex;
        flex-direction: column;
        gap: 15px !important;
        width: 100%;
    }

    .promotion__search {
        width: 100%;
    }
}