.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 10px;
  &__form {
    width: 100%;
    max-width: 400px;
  }
  &__form__submit {
    margin-top: 10px;
  }
}
