.create-flight {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__create-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding: 10px;
        gap: 20px;
    }

    &__info-title {
        text-align: center;
    }

    &__info-applicant {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;
    }

    &__flight-row-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__info-applicant-user-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__info-username {
        margin: 0 !important;
    }

    &__info-phone {
        margin: 0 !important;
    }

    &__product-wrapper {
        width: 60%;
        padding: 10px;
    }

    &__product-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(214, 197, 197);
    }

    &__product-count {
        margin-top: 0 !important;
        color: blue;
    }

    &__product-card-wrapper {
        display: flex;
        flex-direction: column;
        max-height: 550px;
        padding-right: 10px;
        overflow-y: auto;
        gap: 10px;
        margin-bottom: 10px;
    }

    &__product-wrapper-withIcon {
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }

    &__product-card {
        width: 100%;

        .card-body {
            padding: 12px !important;
        }
    }

    &__checked-product-card {
        background-color: rgb(244, 245, 245);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &__product-card-icon {
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
    }

    &__product-card-info {
        display: flex;
        align-items: center;
    }

    &__product-card-product {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 20px;
        border-right: 1px solid rgb(214, 197, 197);
    }

    &__product-card-img {
        object-fit: cover;
    }

    &__product-card-desc {
        margin: 0 !important;
        font-weight: bold;
    }

    &__product-card-count {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-weight: bold;
    }
}