.product-manager__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product-manager__filter {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .product-manager__head {
    flex-direction: column;
  }
  .product-manager__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }
}
