.motivation__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.motivation__filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.motivation__search {
  width: 250px;
}

@media only screen and (max-width: 800px) {
  .motivation__head {
      flex-direction: column;
  }

  .motivation__filter {
      display: flex;
      flex-direction: column;
      gap: 15px !important;
      width: 100%;
  }

  .motivation__search {
      width: 100%;
  }
}