.users__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.users__filter {
  display: flex;
  flex-direction: row;
}
.users__search {
  width: 250px;
  margin-right: 10px;
}
.users__company {
  width: 250px;
  margin-right: 10px;
}
.users__searchBy {
  width: 160px;
}

@media only screen and (max-width: 800px) {
  .users__head {
    flex-direction: column;
  }
  .users__searchBy {
    width: 100%;
  }
  .users__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }
  .users__search {
    width: 100%;
  }
}
