.roles {
  &__collapse-action-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__per-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__per-list-check-item {
    background-color: rgb(241, 241, 241);
  }

  &__per-list-item-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}