.product_list__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product_list__filter {
  display: flex;
  flex-direction: row;
}
.product_list__search {
  width: 250;
  margin-right: 10px;
}
.product_list__searchBy {
  width: 160px;
}

.product__list__upload {
  margin-top: 8px;
}

.product__list__upload__image__modal {
  width: 100%;
}

.tissueInfoWrapp {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 992px) {
  .product_list__filter {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

}

@media only screen and (max-width: 800px) {
  .product_list__head {
    flex-direction: column;
  }
  .product_list__filter {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .product_list__searchBy {
    width: 100%;
  }

  .product_list__search {
    width: 100%;
  }
}
