.product-manager_list__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-manager_list__filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.product-manager_list__search {
  width: 250;
}

.product-manager_list__searchBy {
  width: 160px;
}

.product-manager__list__upload {
  margin-top: 8px;
}

.product-manager__list__upload__image__modal {
  width: 100%;
}

.productManagerProductColumnWrapp,
.productmanagerPrviderColumnWrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left !important;
  gap: 10px;
}

.productmanagerTissueColumnWrapp {
  display: flex;
  align-items: center;
  text-align: left !important;
  justify-content: space-between;
  gap: 10px;
}

.productImgColumn {
  width: 62px;
  height: 43px;
  object-fit: cover;
}

.productmanagerTissueColor,
.suplierImgColumn {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.resultPrice {
  color: rgb(145, 145, 145);
}

@media only screen and (max-width: 1100px) {
  .product-manager_list__filter {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}

.create-product__min-price {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  .product-manager_list__head {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .product-manager_list__head {
    flex-direction: column;
  }

  .product-manager_list__filter {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .product-manager_list__searchBy {
    width: 100%;
  }

  .product-manager_list__search {
    width: 100%;
  }
}