.price-print__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price-print__filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.price-print__search {
  width: 250px;
}

.price-print__filter {
  width: 300px;
}

@media only screen and (max-width: 800px) {
  .price-print__head {
    flex-direction: column;
  }

  .price-print__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }

  .price-print__search {
    width: 100%;
  }
}

/* PRINT */
.print__sale {
  display: flex;
  justify-content: flex-end;
}

.print__sale>div {
  text-align: center;
  padding: 0 0 20px 0;
}

.print_new-price {
  text-align: center;
}

.print_old-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
  padding-bottom: 10px;
}


.receipt {
  font-family: "VT323", monospace !important;
  width: 100%;
  padding: 10px;

  p {
    margin: 0;
  }
}

.creditDetails {
  margin: 0px auto;
  font-size: 14px;
  text-transform: uppercase;
}

.creditDetails p span {
  font-weight: bold;
  text-transform: initial;
}