.base__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.base__filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.base__search {
  width: 350px;
  margin-right: 10px;
}
.base__searchBy {
  width: 160px;
}

.base__list__upload {
  margin-top: 8px;
}

.add_base_modal_img_preview {
  width: 100%;
  height: 100%;
}

.edit_modal_margin_top {
  margin-top: 30px;
}

@media only screen and (max-width: 800px) {
  .base__head {
    flex-direction: column;
  }
  .base__searchBy {
    width: 100%;
  }

  .base__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }

  .base__search {
    width: 100%;
  }
}