.direction__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.direction__filter {
    display: flex;
    flex-direction: row;
}

.direction__search {
    width: 250px;
    margin-right: 10px;
}

@media only screen and (max-width: 800px) {
    .direction__head {
        flex-direction: column;
    }

    .direction__filter {
        display: flex;
        flex-direction: column;
        gap: 15px !important;
        width: 100%;
    }

    .direction__search {
        width: 100%;
    }
}