.locations__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.locations__filter {
    display: flex;
    flex-direction: row;
}

.locations__search {
    width: 250px;
    margin-right: 10px;
}

.locations__action-warepper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media only screen and (max-width: 800px) {
    .locations__head {
        flex-direction: column;
    }

    .locations__filter {
        display: flex;
        flex-direction: column;
        gap: 15px !important;
        width: 100%;
    }

    .locations__search {
        width: 100%;
    }
}