.orders {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filters {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__search {
    width: 250px;
  }
}