.product-manager__sets-add__modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-manager__container {
  position: relative;
  width: 100%;
  min-height: 300px;
  max-height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  // flex-direction: column;

  .product-manager-content {
    width: 150px;
    height: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 5px;
    overflow: hidden;

    .product-manager__content_img {
      top: 0;
      width: 100%;
      height: 80px;
      position: relative;

      // background-color: #3823d7;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .product-manager__content_info {
      width: 100%;
      height: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 0;
    }

    .product-manager__content__add-button {
      bottom: 0;
      width: 100%;
      height: 35px;

      .add_button {
        width: 100%;
        height: 35px;
      }
    }

    .product-manager__content_counter {
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 30px;

      span {
        font-size: 18px;
        font-weight: 600;
      }

      .decrease,
      .increase {
        border: none;
        overflow: none;
        background-color: #3823d7;
        color: #fff;
        width: 40px;
      }
    }
  }
}