.applicantInfoWrapp {
  display: flex;
  align-items: center;
  gap: 10px;
}
.applicantImage {
  width: 24px;
}
.productCompWrapp {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left !important;
  // justify-content: center;
}

.productImages {
  width: 62px;
  object-fit: cover;
}

.tissueColor {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.reqProductTissueWrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: left !important;
}
