.companyPageHEader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.headerSearchWrapp {
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.actionButtonsWrapp {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actionEditButton,
.actionDeleteButton {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:600px) {
  .companyPageHEader {
    flex-direction: column;
  }
  .headerSearchWrapp{
    flex-direction: column;
    width: 100%;
  }
  .addCompanyButton{
    width: 100%;
    color: rgba(255, 0, 0, 0.699);
  }
}
