.applicationsHeader {
  margin-bottom: 20px;
}
.applicationsSearchInput,
.applicationFilterParameter {
  width: 100% !important;
  margin: 10px 0 10px 0;
}
.applicationHeaderWrapp,
.addProdyctInApplicationWrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(206, 206, 206, 0.904);
}

.reqProductsSearchWrapp {
  margin: 20px 0 20px 0;
}

.applicationProductsWrapp,
.appllicationsWrapp {
  min-height: 200px;
  padding-bottom: 20px;
}
.applicationProductsWrapp {
  border: 1px solid rgba(206, 206, 206, 0.904);
  padding: 10px;
}

.submitInfoBtn {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.reqProductsSearchWrapp {
  margin: 20px 0 20px 0;
}

.reqProductsModalFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
